<div class="toolbar ui-helper-clearfix">
	<a href="javascript://" class="round-action add-file">Add File</a>
	<a href="javascript://" class="round-action collapse">Collapse</a>
	<a href="javascript://" class="round-action expand">Expand</a>
</div>
<div class="files">

</div>