@import "../../style/elements/elements.less";

.kekomi_file_browser_folder_tree {
	.ui-toggle {
		float: left;
		cursor: pointer;
		margin-top: -2px;
	}
	.name-wrapper {
		font-size: 12px;
		line-height: 21px;
		padding-top: 1px;
		padding-bottom: 1px;
		margin: 2px;
		cursor: pointer;
		color: #ccc;
		.rounded(2px);
		span {
			outline: none;
			&.asset_folder, &.asset_folder span {
				display: block;
			}
		}
		.inline_edit {
			input {
				outline: none;
				height: 13px;
				line-height: 13px;
				border: 1px solid #fff;
				padding: 2px 2px;
				background: #fff;
				color: #222;
				box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.4), 0 0 1px 0 #000;
				width: 172px;
			}
		}
		.ui-icon {
			opacity: 0.8;
			margin-top: 2px;
		}
		&:hover {
			background: #111;
			color: white;
			.ui-icon {
				opacity: 1;
			}
		}
		&.active {
			.gradient(#ad3500, #ad3500, #f34e00);
			color: white;
			font-weight:bold;
			text-shadow: 0px -1px rgba(0,0,0,0.5);
			border-top-color: #F77235;
			.ui-icon {
				opacity: 1;
			}


		}
		&.drop {
			.gradient(#2170B9, #2170B9, #2C8CE6);
			color: white;
		}
	}
	ul li {
		.name-wrapper {
			padding-left: 0;
			.inline_edit input {
				width: 172px;
			}
		}
		ul li {
			.name-wrapper {
				padding-left: 15px;
				.inline_edit input {
					width: 157px;
				}
			}
			ul li {
				.name-wrapper {
					padding-left: 30px;
					.inline_edit input {
						width: 142px;
					}
				}
				ul li {
					.name-wrapper {
						padding-left: 45px;
						.inline_edit input {
							width: 127px;
						}
					}
					ul li {
						.name-wrapper {
							padding-left: 60px;
							.inline_edit input {
								width: 112px;
							}
						}
						ul li {
							.name-wrapper {
								padding-left: 75px;
								.inline_edit input {
									width: 97px;
								}
							}
						}
					}
				}
			}
		}
	}
	.rearanging {
		outline: 1px dotted #666;
	}
	.action {
		float: left;
		font-size: 12px;
		text-indent: -9999px;
		width: 48px;
		height: 38px;
		opacity: 0.1;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
		&.add-folder {
			background: url(../../style/images/cc/white/png/folder_plus_icon&16.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		&.delete-folder {
			background: url(../../style/images/cc/white/png/folder_delete_icon&16.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		&.edit-folder {
			background: url(../../style/images/cc/white/png/pencil_icon&16.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		&.rearange-folders {
			background: url(../../style/images/cc/white/png/folder_arrow_icon&16.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}
}