<div class="content-wrapper">
	<div class="form-wrapper">
		<% for(var k in contentTemplate.fields){ var field = contentTemplate.fields[k]; %>
			<% if(typeof field.fields === 'string'){ %>
				<%== $.View('//kekomi/content/form/views/widget.ejs', field) %>
			<% } else { %>
				<%== $.View('//kekomi/content/form/views/composed_widget.ejs', field) %>
			<% } %>
		<% } %>
	</div>
</div>
<div class="sidebar">

</div>