<div class="toolbar ui-helper-clearfix">
		<a href="javascript://" class="round-action change-image">Change Image</a>
	<a href="javascript://" class="round-action remove-image">Remove image</a>
</div>
<div class="image-wrapper"><%== $.View('//kekomi/content/widgets/image/views/no_image.ejs') %></div>