<div class="thumb-grid-toolbar">
	<div class="sort-wrapper">
		Sort by: 
		<select class="sort-field">
			<option value="name">Name</option>
			<option value="size">Size</option>
			<option value="created_at">Created at</option>
			<option value="type">Type</option>
		</select>
		<select class="sort-direction">
			<option value="asc">ASC</option>
			<option value="desc">DESC</option>
		</select>
	</div>
	<div class="slider-wrapper">
		<div class="slider-bar"></div>
		<div class="slider-progress"></div>
		<div class="slider"></div>
	</div>
</div>
<div class="thumb-grid"></div>