<div class="toolbar"></div>
<div class="editable">
	<h1>This is a really big, large title.</h1>

<p>Here are some of the problems with default Markdown syntax:</p>

<ul>
<li>It uses your browser's default font, size, and line-height (Times).</li>
<li>It uses your browser's default width (all the way across the page). This makes it really hard to read.</li>
</ul>


</div>