<div class="folders">
	<div class="all-assets">All Assets</div>
	<ul></ul>
</div>
<div class="top-toolbar">
	<div class="total">
		Total: <span class="count">0</span> <span class="type">assets</span>
	</div>
	<div class="layout-switch">
		<a href="javascript://" class="layout selected" data-layout='list'><span class="icon"></span></a>
		<a href="javascript://" class="layout" data-layout='grid'><span class="icon"></span></a>
	</div>
	<div class="search">
		<input type="text" />
		<div class="clear-search">
			<img src="<%= steal.root.join('kekomi/style/images/cc/white/png/round_delete_icon&16.png')%>" />
		</div>
	</div>
	<div class="types">
		<div class="type selected" data-type="all">All</div>
		<div class="type" data-type="image">Images</div>
		<div class="type" data-type="video">Videos</div>
		<div class="type" data-type="document">Documents</div>
	</div>
</div>
<div class="display-area"></div>
<div class="footer">
	<div class="toolbar">
		<a href="javascript://" class="action delete-selected">Delete selected</a>
	</div>
	<div class="upload-wrapper">
		<a href="#">Upload files</a>
	</div>
</div>
<div class="preview">
	
</div>
<div class="spinner"></div>
<div class="no-data">There are no uploaded files that match the criteria.</div>
<div class="dragged"></div>